[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[pull]
	ff = true
[http]
	postBuffer = 5368709120
[core]
  editor = vim
